@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <link href="~/Content/vendor/magnific-popup/magnific-popup.css" rel="stylesheet" />
    <link href="~/Content/css/creative.min.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link href="~/Content/KTMStyle.css" rel="stylesheet" />
</head>
<body id="page-top">
    <header class="masthead">
        <div class="container h-100">
            <div class="row h-100 align-items-center justify-content-center text-center">
                <div class="col-lg-10 align-self-end">
                    <h1 class="text-uppercase text-white font-weight-bold">KTM Malaysia</h1>
                    <hr class="divider my-4">
                </div>
                <div class="col-lg-8 align-self-baseline">
                    <p class="text-white-75 font-weight-light mb-5">
                        @ViewBag.Greeting World
                        <br /> The date and time now is @ViewBag.Datetime
                        <br /> KTM Ticketing made easy
                    </p>
                    @Html.ActionLink("Buy Ticket Now", "KtmTicket", null, null, new { @class = "btn btn-primary btn-xl js-scroll-trigger" })
                </div>
            </div>
        </div>
    </header>
    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="~/Content/js/creative.min.js"></script>
</body>
</html>
